 <header>
    <nav class="bg-gray-800 p-4">
        <ul class="flex justify-end space-x-4">
            <li><a href="/addhome" class="text-white hover:text-gray-300">Add Home</a></li>
            <li><a href="/" class="text-white hover:text-gray-300">Home</a></li>
        </ul>
    </nav>
    </header>