<%- include('partials/head') %>
</head>
<body>
   <%- include('./partials/header') %>

   <form action="/homeadded" method="post">
    <input type="text" name="homeName" placeholder="Home Name" class="border p-2 mb-4 w-full" >
    <button type="submit">Add Home</button>
   </form>

       <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>