<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/chats/<%=chatToEdit._id %>?_method=PUT" method="post">
    <p><%= chatToEdit.to %></p>
    <textarea name="message" id="message"><%= chatToEdit.message %></textarea>
    <p><%= chatToEdit.from %></p>
    <button>Save</button>
    </form>
</body>
</html>