<%- include('../partials/head') %>
</head>
<body>
   <%- include('../partials/header') %>
   <h1>Home added successfully</h1>

       <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>